@charset "UTF-8";

.footer {
    text-align: center;
    padding: 16px 28px;
    font-size: 12px;
    border-top: 1px solid #c8e4ea;
    margin-left: 250px;
    background-color: white;
    position: sticky;
    bottom: 0;
}

@media (max-width: 1024px) {
    .footer {
        margin-left: 0;
    }
}